@page "/"
<style>
    h1 {
    background-color: #CCEEFF;
    color: #9400D3;
    text-align: center;
}

.text-center-container {
    text-align: center;
}
p {
    background-color: #F0F8FF;
    color: #000080;
    margin-top:40px;
    text-align: center;
}

    footer{
        background-color: #CCEEFF;
        padding: 10px 0;
        text-align: center;
        font-weight: bold;
        color: #191970;
        margin-top: 150px;
    }
</style>
<PageTitle>Home</PageTitle>

<div class="text-center-container">
    <h1>📕IT English-Russian dictionary with use explication</h1>
</div>

<p>Welcome to "IT English-Russian dictionary" application.</p>
<p>Here you can find the main special IT terms in English with Russian translation and use explication.</p>
<p>Images are also added to simplify terms understanding.</p>
<p>Thank you for using our product.</p>

<div class="text-center-container">
    <img src="svg/My logo.svg" alt="Icon" style="width: 245px; height: 245px; " />
</div>

<footer>
    Nika studio Copyright &#169; - @CurrentYear
</footer>

@code {
    public int CurrentYear => DateTime.UtcNow.Year;
}