@page "/words/create"
@using Microsoft.EntityFrameworkCore
@using MySpecialVocabularyForIT.Components.Models
@inject IDbContextFactory<MySpecialVocabularyForIT.Data.MySpecialVocabularyForITContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Word</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Word" OnValidSubmit="AddWord" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="word_en" class="form-label">word_en:</label> 
                <InputText id="word_en" @bind-Value="Word.word_en" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Word.word_en" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <span class="text-danger">*</span>
                <label for="word_rus" class="form-label">word_rus:</label> 
                <InputText id="word_rus" @bind-Value="Word.word_rus" class="form-control" aria-required="true"/> 
                <ValidationMessage For="() => Word.word_rus" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="word_use_case" class="form-label">word_use_case:</label> 
                <InputText id="word_use_case" @bind-Value="Word.word_use_case" class="form-control" /> 
                <ValidationMessage For="() => Word.word_use_case" class="text-danger" /> 
            </div>        
        @*     <div class="mb-3">
                <label for="photo" class="form-label">photo:</label> 
                <InputText id="photo" @bind-Value="Word.photo" class="form-control" /> 
                <ValidationMessage For="() => Word.photo" class="text-danger" /> 
            </div>   *@      
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/words">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Word Word { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddWord()
    {
        using var context = DbFactory.CreateDbContext();
        context.Words.Add(Word);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/words");
    }
}
