﻿EditForm {
    width: 100%;
}
h1 {
    color: #9400D3;
}
.blue-label {
    color: blue;
}
.photo-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}