@page "/words"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MySpecialVocabularyForIT.Components.Models
@using MySpecialVocabularyForIT.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MySpecialVocabularyForIT.Data.MySpecialVocabularyForITContext> DbFactory

<PageTitle>Index</PageTitle>

<style>
    /*for buttons colors*/
    .custom-purple-button.btn-primary {
        background-color: #8A2BE2;
        border-color: #4B0082;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
        color: white;
    }

        .custom-purple-button.btn-primary:hover {
            background-color: #BA55D3;
            border-color: darkorchid;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
        }

    .custom-purple-button.disabled {
        background-color: #D3D3D3;
        border-color: #D3D3D3;
        color: #6c757d;
    }

    .form-group-margin-top {
        margin-top: 15px;
    }
</style>

<div class="text-center-container">
    <h1>📚IT English-Russian dictionary with use explication</h1>
</div>

<div style="display:flex;">
    <div>
        <a href="words/create" class="btn btn-primary custom-purple-button">Create new</a>
    </div>
</div>


<div class="controls">
    <form action="/words" data-enhance>
        <p>
            Find by term (word in English)🔎:
            <input type="search" name="titleFilter" />
            <input type="submit" class="form-group-margin-top" value="Search" />
        </p>
    </form>
    <div>
        <label for="items-per-page" class="form-group-margin-top">Items per page: </label>
        <select id="items-per-page" @bind="pagination.ItemsPerPage">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>
    </div>
</div>

<div>
    <QuickGrid Class="table" Items="FilteredWords" Pagination="pagination">
        <PropertyColumn Class="word-en"
                        Sortable="true"
                        Property="word => word.word_en"
                        Title="Term in English"/>

        <PropertyColumn Class="word-rus"
                        Sortable="true"
                        Property="word => word.word_rus"
                        Title="Translation into Russian"/>

        @* <PropertyColumn Class="use-case" Sortable="true" Property="word => word.word_use_case" Title="Use explication" /> *@
        @* <PropertyColumn Property="word => word.photo" /> *@

        <TemplateColumn Context="word">
            @*   <a href="@($"words/edit?word_id={word.word_id}")">Edit</a> | *@
            <div style="display:flex;">
                <div>
                    <a href="@($"words/details?word_id={word.word_id}")" class="btn btn-primary custom-purple-button">Details</a>
                </div>
            </div>
            @*         <a href="@($"words/delete?word_id={word.word_id}")">Delete</a> *@
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination" />
</div>

@code {
    private MySpecialVocabularyForITContext context = default!;

    [SupplyParameterFromQuery]
    string? TitleFilter { get; set; }
    GridSort<Word> sortBy = GridSort<Word>.ByAscending(p => p.word_en);

    PaginationState pagination = new PaginationState { ItemsPerPage = 5 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
    IQueryable<Word> FilteredWords =>
    context.Words.Where(m => m.word_en.Contains(TitleFilter ?? string.Empty));
}
