h1 {
    color: #9400D3;
}
﻿.controls {
    display: flex;
    justify-content: space-between;
}
.controls select {
    width: 48px;
    height: 25px;
}
::deep .word-en {
    width: 50%;
    color: #4682B4; /*for text color in columns in index*/
}
::deep .word-rus {
    width: 40%;
    color: #4682B4;
}
