@page "/words"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using MySpecialVocabularyForIT.Components.Models
@using MySpecialVocabularyForIT.Data
@implements IAsyncDisposable
@inject IDbContextFactory<MySpecialVocabularyForIT.Data.MySpecialVocabularyForITContext> DbFactory

<PageTitle>Index</PageTitle>

<style>
    /*for buttons colors*/
    .custom-purple-button.btn-primary {
        background-color: #8A2BE2;
        border-color: #4B0082;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
        color: white;
    }

        .custom-purple-button.btn-primary:hover {
            background-color: #BA55D3;
            border-color: darkorchid;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
        }

    .custom-purple-button.disabled {
        background-color: #D3D3D3;
        border-color: #D3D3D3;
        color: #6c757d;
    }
</style>

<h1>Index</h1>

<div style="display:flex;">
    <div>
        <a href="words/create" class="btn btn-primary custom-purple-button">Create new</a>
    </div>
</div>

<QuickGrid Class="table" Items="context.Words">
    <PropertyColumn Property="word => word.word_en" Title="Term in English"/>
    <PropertyColumn Property="word => word.word_rus" Title="Translation into Russian"/>
    <PropertyColumn Property="word => word.word_use_case" Title="Use explication" />
    @* <PropertyColumn Property="word => word.photo" /> *@

    <TemplateColumn Context="word">
        <a href="@($"words/edit?word_id={word.word_id}")">Edit</a> |
        <a href="@($"words/details?word_id={word.word_id}")">Details</a> |
        <a href="@($"words/delete?word_id={word.word_id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MySpecialVocabularyForITContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
