h1 {
    color: #9400D3;
}
.text-center-container{
    text-align:center;
}
﻿.controls {
    display: flex;
    justify-content: space-between;
}
.controls select {
    width: 48px;
    height: 25px;
}
::deep .word-en {
    width: 40%;
    color: #0000FF; /*for text color in columns in index*/
}
::deep .word-rus {
    width: 55%;
    color: #4682B4;
}
::deep .col-title-text {
    color: darkred;
}

/*for buttons colors*/
.custom-purple-button.btn-primary {
    background-color: #8A2BE2;
    border-color: #4B0082;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
    color: white;
}

    .custom-purple-button.btn-primary:hover {
        background-color: #BA55D3;
        border-color: darkorchid;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
    }

.custom-purple-button.disabled {
    background-color: #D3D3D3;
    border-color: #D3D3D3;
    color: #6c757d;
}

.form-group-margin-top {
    margin-top: 15px;
}