@* <h3>Photo</h3> *@

<div>
	<div class="photo-area">
		@if (Word.photo != null)
		{
			<img src="data:image;base64,@Convert.ToBase64String(Word.photo)" alt="Photo" />
		}
	</div>
	@if (allow_change)
	{
		<InputFile OnChange="LoadPhoto" />
	}
</div>
@code {
	// [Parameter]
	// public byte[] data { get; set; } = default!;
	[Parameter]
	public Models.Word Word { get; set; }
	[Parameter]
	public bool allow_change { get; set; }
	IBrowserFile url { get; set; }
	async Task LoadPhoto(InputFileChangeEventArgs e)
	{
		url = e.File;
		MemoryStream ms = new MemoryStream();
		await url.OpenReadStream(1024 * 1024 * 10).CopyToAsync(ms);
		Word.photo = ms.ToArray();
		// data = ms.ToArray();
	}
}
